    * {
        padding: 0;
        margin: 0;
        box-sizing: content-box;
    }
    
    html,
    body {
        width: 100%;
        height: 100%;
    }
    
    .main {
        position: relative;
        width: 100%;
        height: 100%;
        background-color: rgb(58, 57, 57);
    }
    
    .maincalc {
        width: 100%;
        height: 70%;
        justify-content: space-evenly;
        display: flex;
        flex-wrap: wrap;
    }
    
    .button {
        width: 24.5%;
        height: 16%;
        text-align: center;
    }
    
    .hist-div {
        margin-top: 7px;
        width: 100%;
        height: 105px;
    }
    
    .hist-pTop {
        text-align: right;
        font-size: 75%;
        color: rgb(122, 122, 122);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        position: relative;
        right: 5%;
        margin-bottom: 5px;
    }
    
    .hist-pBottom {
        position: relative;
        right: 5%;
        text-align: right;
        font-size: 125%;
        color: white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    .text {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        transition: 0.2s all;
        width: 100%;
        height: 100%;
        color: white;
        font-size: 112%;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .input {
        width: 100%;
        height: 10%;
        text-align: right;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .trash {
        width: 80%;
        height: 0%;
    }
    
    .no-hist {
        color: rgb(206, 203, 203);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 90%;
        text-align: center;
        position: relative;
        top: 20px;
    }
    
     ::-webkit-scrollbar {
        width: 3px;
    }
    
     ::-webkit-scrollbar-track {
        background: transparent;
    }
    
     ::-webkit-scrollbar-thumb {
        background-color: rgb(194, 194, 194);
        border-radius: 20px;
    }